<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cameraFilter</key>
	<array>
		<dict>
			<key>imageName</key>
			<string>origin</string>
			<key>filterName</key>
			<string>原片</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>chulian</string>
			<key>filterName</key>
			<string>初恋</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>kisskiss</string>
			<key>filterName</key>
			<string>彷徨</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>jugeng</string>
			<key>filterName</key>
			<string>青涩</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>amatorka</string>
			<key>filterName</key>
			<string>年华</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>tianmei</string>
			<key>filterName</key>
			<string>甜美</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>xiaosenlin</string>
			<key>filterName</key>
			<string>小森林</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>jiari</string>
			<key>filterName</key>
			<string>假日</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>yangqi</string>
			<key>filterName</key>
			<string>氧气</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>clean</string>
			<key>filterName</key>
			<string>干净</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>meiwei</string>
			<key>filterName</key>
			<string>美味</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>sweety</string>
			<key>filterName</key>
			<string>糖果</string>
		</dict>
	</array>
</dict>
</plist>
